@import url("https://fonts.googleapis.com/css2?family=Vazirmatn:wght@400;500;600;700&display=swap");

* {
	box-sizing: border-box;
}

body {
	margin: 0;
	min-height: 100vh;
	background-color: #f7f7f7;
	font-family: "Vazirmatn", "Roboto", sans-serif;
}

#root {
	min-height: 100vh;
}
